<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Enables mobile responsiveness -->
  <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}" type="image/jpg">
  <title>{{ title or "Project Portfolio" }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='lofi.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="d-flex flex-column min-vh-100">
  <header>
    <img src="{{ url_for('static', filename='icon.jpg') }}" alt="Profile Picture" class="profile-pic">
    <br>
    <h1 class="typewriter">
      <span id="typed-text"></span><span id="cursor">|</span>
    </h1>
    <p>personal project portfolio</p>
    <hr>
  </header>

  <main class="flex-grow-1">
    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
    <hr>
    <p>&copy; 2025 Alice Yang</p>
    <p>Built on Flask</p>
    <p>Deployed on Render</p>
  </footer>
  <!-- Script for typewriter effect on introduction on load -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const text = "hi, i'm alice!";
      const typedText = document.getElementById("typed-text");
      const cursor = document.getElementById("cursor");
      let index = 0;

      const type = () => {
        typedText.textContent += text.charAt(index);
        index++;
        if (index < text.length) {
          setTimeout(type, 100); // Typing speed
        } else {
          // Start blinking immediately after last character
          blinkCursor(3);
        }
      };

      const blinkCursor = (blinks) => {
        let count = 0;
        const blinkInterval = setInterval(() => {
          cursor.style.visibility = (cursor.style.visibility === "visible") ? "hidden" : "visible";
          count++;
          if (count >= blinks * 2) {
            clearInterval(blinkInterval);
            cursor.style.visibility = "hidden";
          }
        }, 500); // - for slower blink, + for faster
      };
      type();
    });
  </script>
</body>
</html>
